Assignment on operations

1. computation and order

In [3]:
x = 16 - 2 * 5 // 3 + 1
print(x)

14

The order here: the multiplication of 2 and 5, then division by 3+1. Although this was supposed to be 2.5, it gave 2, because // was integar division. The subtraction happened last.

In [4]:
y=2**3*3
print(y)

24

The order: the 2 exponential 3 happened first, then multiplied by 3.

2. Use of parenthesis

In [5]:
a=6*1-2
print(a)

4

In [6]:
b = 6 * (1-2)
print(b)

-6

3. Area of cycle

In [10]:
radius = 7
pi = 3.142
Area = pi * radius**2
print("The area of a circle with radius of {} is {}, assuming that the constant pi is {}".format(radius, Area, pi))

The area of a circle with radius of 7 is 153.958, assuming that the constant pi is 3.142

4. Checking a number

In [11]:
x = 3
range = 0 < x < 5
range

True

5. Boolean values: PLEASE SEE SOLUTION ON SEPARATE LINK

6. Summation of list with floats and integers

In [14]:
list = [10, 16, 24, 15.4, 17.5, 8.3]
sum(list)

91.2

7. Sorting list in increasing order

In [17]:
list1 = [3, 5, 1, 3, 9, 5, 7]
list1.sort()
print('List in Ascending Order: ', list1)

List in Ascending Order:  [1, 3, 3, 5, 5, 7, 9]

8. Counting number of occurence

In [18]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]
occur=list2.count(2)
print(occur)

5

9. slicing: PLEASE SEE SOLUTION ON SEPARATE LINK

10. replacing a name

In [23]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
print("The original list : " + str(list4))
res = [item.replace("Chima", "Tosin") for item in list4]
print("The list after string replacement : " + str(res))

The original list : ['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi']
The list after string replacement : ['Tosin', 'Ebuka', 'Rose', 'Hassan', 'Bisi']

11. Printing out index position

In [24]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
["Chima", "Ebuka", "Rose", "Hassan", "Bisi"].index("Rose")

2

12. Adding to list

In [25]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.append("Tosin")
print(list4)

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Tosin']

13. Attempting to sort a set

In [27]:
sets = {3, 1, 10, 4, 5, 6}
sets.sort()
print('List in Ascending Order: ', sets)

AttributeError: 'set' object has no attribute 'sort'

The curly brackets distinguishes this as a set. Sets are generally immutable. Hence, this cannot be sorted.

14. printing new set

In [29]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [30]:
set1.update(set2)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

15. Long string

In [ ]:
word = "This has been an interesting course so far but is this sentence long enough"
word2 = word.replace("interesting", "")

In [ ]:
print(word2)

In [ ]:
Please note that my notebook stopped working here. I have had to open another noteboo